$highlight-text: #86868b;
$small-text: #5f6368;
$header-text: #202125;
$seperator: #e2e6e8;
$dropdown-hover-light: #f7f7f7;
$border: #e6e9ee;
$tab-text: #5f6368;

$blue-primary: #3370ff;
$floating-bar: #ecf1f8;
