$mouse_color: #000;
$mouse_width: 36px;
$mouse_height: 60px;
$border_width: 2px;

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($animations) {
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

$wheel_size: $border_width * 3;

@include keyframes(mouse-scroll) {
  0% {
    top: 10%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30%;
    opacity: 0;
  }
}

.scroll-msg-container {
  width: $mouse_width + $border_width;
  height: $mouse_height + $border_width;
}

.scroll-msg-inner {
  width: $mouse_width;
  height: $mouse_height;
  position: relative;
  border-radius: calc($mouse_width / 2) + $border_width * 2;
  border: $border_width solid $mouse_color;
}

.scroll-msg-wheel {
  position: absolute;
  top: 10%;
  left: calc(50% - 3px);
  width: $wheel_size;
  height: $wheel_size;
  margin-left: -calc($wheel_size / 2);
  border-radius: 50%;
  background-color: $mouse_color;

  @include animation(mouse-scroll 1.3s infinite);
}
