@use '../../styles/colors' as c;
@use '../../styles/commonStyles' as cs;

.about {
  height: fit-content;
}

.about-page {
  padding-bottom: 20px;
  width: 100%;
  position: relative;
}

.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.aboutImg {
  display: block;
  flex: 1;
  & > img {
    width: 100%;
  }
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0 50px;
}

.aboutContainerStyle {
  display: flex;
  height: 55%;
}

.aboutIntroduction {
  @include cs.flexJustifyCenter;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.aboutProse {
  width: 100%;
  padding: 20px;
  font-size: 2em;
  color: c.$header-text;
  position: relative;
  background-color: white;

  &::after {
    content: "";
    background: url("../../images/triangle.svg");
    height: 500px;
    width: 300px;
    position: absolute;
    top: -70px;
    left: -50px;
    background-repeat: no-repeat;
  }
}

.aboutProseMini {
  color: c.$small-text;
  padding: 0 20px;
  font-size: 1em;
  @include cs.bodyFont;
  margin: 15px 0;
}

.learnMore {
  margin: 30px 20px;
}

.aboutBubble {
  position: absolute;
  top: 70px;
  right: 70px;
  height: 250px;
  width: 250px;
  animation: aboutBubbleAnimation 40s infinite;
}

@keyframes aboutBubbleAnimation {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(-90deg) translate(-400px, -500px);
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
  }
}

@media screen and (min-width: 960px) {
  .aboutContainer {
    @include cs.flexAlignCenter;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    max-height: calc(100vh - 70px);
    min-height: calc(100vh - 70px);
    padding-bottom: 40px;
  }

  .aboutImg {
    flex: 1.2;
    margin-top: 150px;
  }

  .aboutIntroduction {
    margin-top: 150px;
  }

  .aboutProse {
    font-size: 2.2em;
  }

  // Floating objects
  .about-object3 {
    position: absolute;
    top: 10%;
    left: 0;
    background: c.$floating-bar;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
    height: 15px;
  }

  .about-object4 {
    position: absolute;
    top: 6%;
    left: 0;
    background: c.$floating-bar;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100px;
    height: 15px;
  }

  .about-object5 {
    position: absolute;
    top: 10%;
    left: 220px;
    border-radius: 50%;
    background: #3370ff;
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 1179px) {
  .aboutContainer {
    width: 85%;
  }

  .aboutProse {
    font-size: 2.8em;
    font-weight: 500;
  }

  .about-object3 {
    width: 300px;
    height: 18px;
  }

  .about-object4 {
    width: 200px;
    height: 18px;
  }

  .about-object5 {
    width: 18px;
    height: 18px;
    left: 320px;
  }

  .aboutImg {
    flex: 1.3;
  }
}

@media screen and (min-width: 1500px) {
  .aboutProse {
    font-size: 3em;
    font-weight: 600;
  }

  .aboutImg {
    flex: 1.6;
  }
}
