@use '../../styles/colors' as c;
@use '../../styles/commonStyles' as cs;

.aboutInfoPage {
  height: fit-content;
  padding: 0px 0 30px;
  background-color: #ffffff;
  width: 100%;
  position: relative;

  & .aboutInfoPageContainer {
    max-width: 90%;
    margin: 70px auto;
    position: relative;
    height: fit-content;
  }
}

#aboutInfoAnchor {
  position: absolute;
  top: -50px;
}

@media screen and (min-width: 1500px) {
  .aboutInfoPage {
    padding: 80px 0 30px;

    & .aboutInfoPageContainer {
      margin-bottom: 180px !important;
    }

    & .aboutInfoPageContainer {
      max-width: min(1500px, 90%);
      margin: 70px auto;
      position: relative;
      height: fit-content;
    }
  }
}
