@use '../../styles/colors' as c;
@use '../../styles/commonStyles' as cs;

#ContactContainer {
  padding: 40px 15px;
  margin: 0 auto;
}

.contactFooter {
  @include cs.flexAlignCenter;
  padding: 10px 40px;
  justify-content: space-between;
  width: min(900px, 100%);
  margin: 0 auto;
}

.util-icons-card {
  @include cs.flexCenter;
  background-color: #fff;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 30%;
  max-width: 330px;
  min-height: 100px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-decoration: none;

  & h3 {
    font-size: 0.8em;
    margin: 5px;
    color: #1c2b33;
    font-weight: 800;
  }

  & p {
    margin: 10px;
    font-size: 0.7em;
    color: #465a69;
    font-weight: 600;
  }
}

.util-icons-card:hover {
  transform: translate(5px, -5px) scale(1.05);
}

#Contact {
  margin: 0 auto;
  width: 100%;
}

.contactHeader {
  padding: 0 10px;

  & > h2 {
    color: c.$highlight-text;
    font-size: 1.4em;
    @include cs.proseHeaderFont;
    font-weight: normal;
  }

  & > h1 {
    font-size: 1.7em;
    color: c.$header-text;
    font-weight: normal;
  }
}

.form-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: left;
  padding: 30px 15px 0 15px;
  border-radius: 5px;
  background-color: white;
  margin: 30px auto;
}

label {
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.68em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  font-family: Inter;
  color: #7f8494;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  font-family: Poppins;
}

textarea {
  display: block;
  width: 100%;
  min-height: clamp(150px, 20vw, 300px);
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 100%;
  max-width: 100%;
  padding: 5px;
  font-family: Poppins;
}

input:focus,
textarea:focus,
.submit-button:focus {
  outline: none;
}

.submit-button {
  align-self: center;
  padding: 15px 30px;
  font-weight: 800;
  color: #7f8494;
  background-color: transparent;
  border-radius: 4px;
  border: 1.5px solid #ddd;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 2s ease;
}

.submit-button:hover {
  transform: scale(1.05);
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete Nathan White */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.contact-background {
  position: relative;
  padding-top: 70px;
}

.contactContainer2 {
  display: flex;
  padding: 0 5px;

  & .contactImgContainer {
    display: none;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width: 860px) {
  #Contact {
    max-width: 820px;
  }

  .util-icons-card {
    & h3 {
      font-size: 1em;
      letter-spacing: 0.5px;
    }

    & p {
      font-size: 0.8em;
      letter-spacing: 0.3px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .contactHeader {
    & > p {
      font-size: 2em;
    }
  }

  .contactHeader {
    & > div {
      font-size: 1.4em;
    }

    & > p {
      font-size: 1.8em;
    }
  }

  .contactContainer2 {
    & .contactImgContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
      margin-left: 100px;
      margin-bottom: 50px;

      & img {
        width: 100%;
      }
    }

    & #contactContainer {
      display: flex;
      flex-direction: column;
      flex: 1.2;
      justify-content: flex-end;
    }
  }
}
