@use '../../../styles/colors' as c;
@use '../../../styles/commonStyles' as cs;

.projectPagePage {
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 130px;
}

.projectPageContainer {
  width: 100%;
  margin: 0 auto;
}

.projectPageName {
  font-size: 1.2em;
  color: c.$small-text;
  @include cs.proseHeaderFont;
  text-transform: uppercase;
}

.projectPageProse {
  font-size: 1.4em;
  margin: 20px 0 30px 0;
  color: c.$header-text;
}

.projectGoal {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0 40px;

  & > .projectPageGoal {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 600;
  }

  & > .projectPageGoalText {
    color: c.$small-text;
    @include cs.bodyFont;
  }
}

.projectPageProduct {
  font-size: 1.2em;
  color: c.$small-text;
  margin: 30px 0 20px 0;
  letter-spacing: 1.5px;
  font-family: Inter;
  text-transform: uppercase;
}

.projectPageStack {
  font-size: 1.2em;
  color: c.$small-text;
  margin: 30px 0 10px 0;
  letter-spacing: 1.5px;
  font-family: Inter;
  text-transform: uppercase;
}

.projectPageStackContainer {
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  background-color: #f2f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(max(1vw, 16px));
  margin: 10px 0 40px;
}

.projectPageImageContainer {
  max-height: calc(100vh - 100px);
}

.projectPageTeammates {
  font-size: 1.2em;
  color: c.$small-text;
  margin: 30px 0 10px 0;
  letter-spacing: 1.5px;
  font-family: Inter;
  text-transform: uppercase;
}

.projectPageTeammatesContainer {
  @include cs.flexAlignCenter;
  margin: 10px 0 40px;

  & > div {
    margin: 0 16px 0 0;
    position: relative;
    height: fit-content;
    @include cs.flexCenter;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      height: 70%;
      background-color: c.$small-text;
      width: 1px;
      right: -8px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .projectPageContainer {
    width: 80%;
  }
}

@media screen and (min-width: 1281px) {
  .projectPageContainer {
    width: 65%;
  }
}
