@use '../../styles/colors' as c;

.keywordtext {
  color: c.$highlight-text;
}

.Typewriter__wrapper {
  color: c.$highlight-text;
}

.Typewriter__cursor {
  color: c.$highlight-text;
}

.typeWritterHack {
  position: relative;
  height: fit-content;

  & > :last-child {
    position: absolute;
    top: 0;
  }

  & > :first-child {
    color: transparent;
  }
}
