@use '../../styles/colors' as c;
@use '../../styles/commonStyles' as cs;

.carouselBox {
  display: flex;
  overflow: hidden;
  padding-top: 15px;
  justify-content: flex-start;
}

.carouselBoxItems {
  max-width: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s;
}

.carouselDots {
  @include cs.flexCenter;
}

.carouselDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 20 5px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.carouselDot.on {
  background-color: c.$blue-primary;
  transform: scale(1.05);
}

.carouselDot.off {
  background-color: c.$seperator;
}
